doctype html
html(ng-app='towntapApp')
    head
        title= title
        meta(charset='utf8')
        link(rel='stylesheet', href='/dist/css/main.min.css')
    body
        block content
        script(src='/dist/js/main.js')
